<p id="notice"><%= notice %></p>

<h1>Products</h1>
<main id="product-container">
	<% @products.each do |product| %>
		<section class='product'>
			<%= link_to image_tag(product.productlines.image || 'missing.jpg' ), product_path(product) %>
			<h3><%= product.productName %></h3>
			<p><%= product.MSRP %></p>
			<section>
				<%= link_to product_path(product) do %>
				  <%= image_tag('details-icon.png' || 'missing.jpg' ) %>
				  <br>View
				<% end %>
				<%= link_to '#' do %>
				  <%= image_tag('add-icon.png' || 'missing.jpg') %>
				  <br>Add
				<% end %>
			</section>
		</section>
	<% end %>
</main>
	
<br>

<%= link_to 'New Product', new_product_path, class: 'btn' %>
