

<p id="notice"><%= notice %></p>

<div id="product-detail">
	<%= image_tag(@product.productlines.image || 'missing.jpg' ) %>
	
	<div>
		<h1><%= @product.productName %></h1>

		<h3><%= @product.buyPrice %></h3>

		<p><b>Vendor: </b><%= @product.productVendor %></p>

		<p><b>Description: </b><%= @product.productDescription %></p>
		
		<nav>
			<%= link_to 'Add to Cart', '#' %>
			<%= link_to 'Edit', edit_product_path(@product) %>
			<%= link_to 'Back', products_path %>
		</nav>
	</div>
</div>